.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
Maxquant_setup.png
maxquant-quant-analysis-public.Rproj


tests/.DS_Store
tests/data/.DS_Store
tests/data/PXD020248/.DS_Store
tests/data/PXD020248/output/QC_Report.Rmd
tests/data/PXD020248/output/QC_Report.html
tests/data/PXD020248/output/QC_Report.pdf
tests/data/PXD020248/output/QC_Report_files/
tests/data/PXD020248/output/figure_html/
tests/data/PXD020248/output/proteinGroups_quant.txt
tests/data/PXD020248/output/proteinGroups_quant_intensities.txt
tests/data/PXD020248/output/protein_counts_and_intensity.json
tests/data/PXD020248/output/protein_data.rda
tests/data/PXD020248/output/protein_viz.json
tests/data/PXD028656/output/QC_Report.Rmd
tests/data/PXD028656/output/QC_Report.html
tests/data/PXD028656/output/QC_Report.pdf
tests/data/PXD028656/output/QC_Report_files/
tests/data/PXD028656/output/figure_html/
tests/data/PXD028656/output/proteinGroups_quant.txt
tests/data/PXD028656/output/proteinGroups_quant_intensities.txt
tests/data/PXD028656/output/protein_counts_and_intensity.json
tests/data/PXD028656/output/protein_data.rda
tests/data/PXD028656/output/protein_viz.json
tests/data/PXD031774/.DS_Store
tests/data/PXD031774/output/QC_Report.Rmd
tests/data/PXD031774/output/QC_Report.html
tests/data/PXD031774/output/QC_Report.pdf
tests/data/PXD031774/output/QC_Report_files/
tests/data/PXD031774/output/figure_html/
tests/data/PXD031774/output/proteinGroups_quant.txt
tests/data/PXD031774/output/proteinGroups_quant_intensities.txt
tests/data/PXD031774/output/protein_counts_and_intensity.json
tests/data/PXD031774/output/protein_data.rda
tests/data/PXD031774/output/protein_viz.json
tests/testthat/.DS_Store
tests/testthat/tmp/
tmp/

**.DS_Store

dev/